<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employee Performa</title>
</head>
<body>
    <form action="/insert" method="POST">
        <input type="text" name="first" value="">
        <input type="text" name="last"value="">
        <input type="number" name="dept"value="">
        <input type="number"name="sal"value="">
        <input type="number" maxlength="10" name="contact" value="">
        <input type="text" name = "address" value="">
        <input type="submit" name="submit">
    </form>
</body>
</html>